@{
    ViewBag.Title = "公司管理";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div id="p" class="easyui-panel"
     style="width:100%;height:80px;padding:10px;background:#fafafa"
     data-options="collapsible:true">

    <form id="Search_ff" method="post" style="float:left">
        <table cellpadding="5">
            <tr>
                        <td>公司名:</td>
                        <td><input class="easyui-textbox" type="text" id="CompanyName" data-options="" value="" /></td>
                        <td>省份:</td>
                        <td><input class="easyui-textbox" type="text" id="Province" data-options="" value="" /></td>
                        <td>城市:</td>
                        <td><input class="easyui-textbox" type="text" id="City" data-options="" value="" /></td>
                        <td>地区:</td>
                        <td><input class="easyui-textbox" type="text" id="District" data-options="" value="" /></td>
                        <td>地址:</td>
                        <td><input class="easyui-textbox" type="text" id="Address" data-options="" value="" /></td>
            </tr>
        </table>

    </form>
    <div style="float:right;">
        <div style="text-align:center;padding:5px">
            <a href="javascript:Search_search(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'">【查询】</a>
        </div>
    </div>
</div>


<table id="dlSearch" class="easyui-datagrid" data-options="url:'',sortName:'CompanyName',sortOrder:'desc',rownumbers:true,toolbar:'#toolbar',pagination:true,fitColumns:false,singleSelect:true ,pageSize:20,pageList:[20,40,60]">
    <thead>
        <tr>
                <th data-options="field:'ID',sortable:true,hidden:true">ID</th>
                <th data-options="field:'CompanyName',sortable:true,hidden:false">公司名</th>
                <th data-options="field:'Province',sortable:true,hidden:false">省份</th>
                <th data-options="field:'City',sortable:true,hidden:false">城市</th>
                <th data-options="field:'District',sortable:false,hidden:false">地区</th>
                <th data-options="field:'Address',sortable:false,hidden:false">地址</th>
                <th data-options="field:'ContractName',sortable:false,hidden:false">ContractName</th>
                <th data-options="field:'ContractPhone',sortable:false,hidden:false">ContractPhone</th>
            <th data-options="field:'xx_xxx',formatter:Search_rowButton">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="toolbar">
        <a href="javascript:openPage('新建公司','/Companys/Add?','dlSearch')" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新建公司</a>

</div>

<div style="display:none">
    <!--操作界面-->
        <div id="Search_Delete_actionView">
            <form id="Search_Delete_actionView_form" method="post" style="padding:10px 60px 20px 60px" action="">
                <table>
                            <input type="hidden" name="ID" value="" />
                                            <tr><td>确认删除这个公司?</td></tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px">
                <a href="javascript:void(0)" onclick="Search_Delete_Save()" class="easyui-linkbutton">确定</a>
                <a href="javascript:void(0)" onclick="jQuery('#Search_Delete_actionView').dialog('close')" class="easyui-linkbutton">关闭</a>
            </div>
        </div>
</div>
@section scripts{
<script type="text/javascript">
        function Search_getSearchData() {
            return {
                    CompanyName: $("#CompanyName").textbox('getValue'),
                    Province: $("#Province").textbox('getValue'),
                    City: $("#City").textbox('getValue'),
                    District: $("#District").textbox('getValue'),
                    Address: $("#Address").textbox('getValue'),
                other:"xx"
            };
        }

        function Search_search() {
            $('#dlSearch').datagrid('load', Search_getSearchData());
        }

        function Search_rowButton(value, row, index) {
            var html = "";
                var url = "/Companys/Edit?ID="+row.ID+"";
                @if (WebSite.Code.MVCExt.userAuthorizedHelper.UserHaveAuthorized("公司/编辑公司信息/访问"))
                {
                <text>html += Search_rowLinked("编辑", url);</text>
                }

            //加载操作函数
                @if (WebSite.Code.MVCExt.userAuthorizedHelper.UserHaveAuthorized("公司/公司管理/删除"))
                {
                <text>if(true) html += "<a href=\"javascript:void(0)\" onclick=\"Search_rowAction('#Search_Delete_actionView','删除',"+index+",150)\" class=\"easyui-linkbutton l-btn l-btn-small l-btn-text\" style=\"padding: 0 5px;\">删除</a>";</text>
                }
            return html;
        }

        function Search_rowLinked(name, url) {
            return "<a href=\"javascript:openPage('" + name + "','" + url + "','dlSearch')\"  class='easyui-linkbutton l-btn l-btn-small l-btn-text' style='padding: 0 5px;'>" + name + "</a>";
        }
        function Search_rowAction(id, name, index, height, funcName, isSave) {
            var row = jQuery('#dlSearch').datagrid("getData").rows[index];
            jQuery(id + "_form").form("load", row);
            if (isSave) {
                eval(funcName + "()");
            } else {
                jQuery(id).dialog({ title: name, width: 400, height: height, modal: true, cache: false}).dialog('center');
            }
        }
        jQuery(function () {
            setTimeout(function () {
                $('#dlSearch').datagrid({
                    url: '/Companys/Search_', queryParams: Search_getSearchData()
                });
            }, 100);
        });

        
        function Search_Delete_Save() {
            $.messager.progress({ interval: 200, text: "处理中" });
            $('#Search_Delete_actionView_form').form('submit', {
                url: "/Companys/Search_Delete",
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');   // hide progress bar while the form is invalid
                    }
                    return isValid; // return false will stop the form submission
                },
                success: function (data) {
                    $.messager.progress('close');
                    if (data == 1) {
                        alert("操作成功");
                        jQuery('#Search_Delete_actionView').dialog('close');
                        Search_search();
                    } else {
                        alert(data);
                    }
                }
            });
        }
        

</script>
}