@{
    Layout = null;
}
<html>
<head>
</head>
<body>
    <div id="mainBody">
        @if (!string.IsNullOrEmpty(ViewData["Mess"] as string))
        {
            <text>@ViewData["Mess"]</text>
        }
        @if (Model as HandleErrorInfo != null)
        {
            <text>@((Model as HandleErrorInfo).Exception.Message)</text>
        }
    </div>
</body>
</html>