<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE list[
  <!ELEMENT list (item*)>
  <!ELEMENT item EMPTY>
  <!ATTLIST item key CDATA #IMPLIED>
  <!ATTLIST item zh CDATA #IMPLIED>
  <!ATTLIST item zhf CDATA #IMPLIED>
  <!ATTLIST item en CDATA #IMPLIED>
]>
<list>
  <item key="设为首页" zh="设为首页" zhf="設為首頁" en="Set Home"/>
  <item key="添加收藏" zh="添加收藏" zhf="添加收藏" en="Add Favorites"/>
  <item key="找回密码" zh="找回密码" zhf="找回密碼" en="Password"/>
  <item key="欢迎您" zh="欢迎您" zhf="歡迎您" en="Welcome"/>
</list>