@{
    ViewBag.Title = "账户角色列表";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div id="p" class="easyui-panel"
     style="width:100%;height:80px;padding:10px;background:#fafafa"
     data-options="collapsible:true">

    <form id="UsersRolesMapList_ff" method="post" style="float:left">
        <table cellpadding="5">
            <tr>
                        <input type="hidden" id="UserID" value="@Request["UserID"]" />
                        <td>账户角色:</td>
                        <td><input class="easyui-combobox" type="text" id="RoleName" data-options="valueField:'Value',textField:'Key',url:'/UsersRolesMap/RoleList_Source'" value="" /></td>
            </tr>
        </table>

    </form>
    <div style="float:right;">
        <div style="text-align:center;padding:5px">
            <a href="javascript:UsersRolesMapList_search(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'">【查询】</a>
        </div>
    </div>
</div>


<table id="dlUsersRolesMapList" class="easyui-datagrid" data-options="url:'',sortName:'ID',sortOrder:'desc',rownumbers:true,toolbar:'#toolbar',pagination:false,fitColumns:false,singleSelect:true ">
    <thead>
        <tr>
                <th data-options="field:'ID',sortable:true,hidden:true">ID</th>
                <th data-options="field:'UserID',sortable:true,hidden:true">UserID</th>
                <th data-options="field:'RoleName',sortable:true,hidden:false">账户角色</th>
            <th data-options="field:'xx_xxx',formatter:UsersRolesMapList_rowButton">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="toolbar">
        <a href="javascript:openPage('添加角色','/UsersRolesMap/AddRole?UserID=@Request["UserID"]','dlUsersRolesMapList')" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加角色</a>

</div>

<div style="display:none">
    <!--操作界面-->
        <div id="UsersRolesMapList_Delete_actionView">
            <form id="UsersRolesMapList_Delete_actionView_form" method="post" style="padding:10px 60px 20px 60px" action="">
                <table>
                            <input type="hidden" name="ID" value="" />
                                            <tr><td>确定删除该账户角色？</td></tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px">
                <a href="javascript:void(0)" onclick="UsersRolesMapList_Delete_Save()" class="easyui-linkbutton">确定</a>
                <a href="javascript:void(0)" onclick="jQuery('#UsersRolesMapList_Delete_actionView').dialog('close')" class="easyui-linkbutton">关闭</a>
            </div>
        </div>
</div>
@section scripts{
<script type="text/javascript">
        function UsersRolesMapList_getSearchData() {
            return {
                    UserID: $("#UserID").val(),
                    RoleName: $("#RoleName").combobox('getValue'),
                other:"xx"
            };
        }

        function UsersRolesMapList_search() {
            $('#dlUsersRolesMapList').datagrid('load', UsersRolesMapList_getSearchData());
        }

        function UsersRolesMapList_rowButton(value, row, index) {
            var html = "";

            //加载操作函数
                @if (WebSite.Code.MVCExt.userAuthorizedHelper.UserHaveAuthorized("账户角色/账户角色列表/删除"))
                {
                <text>if(true) html += "<a href=\"javascript:void(0)\" onclick=\"UsersRolesMapList_rowAction('#UsersRolesMapList_Delete_actionView','删除',"+index+",150)\" class=\"easyui-linkbutton l-btn l-btn-small l-btn-text\" style=\"padding: 0 5px;\">删除</a>";</text>
                }
            return html;
        }

        function UsersRolesMapList_rowLinked(name, url) {
            return "<a href=\"javascript:openPage('" + name + "','" + url + "','dlUsersRolesMapList')\"  class='easyui-linkbutton l-btn l-btn-small l-btn-text' style='padding: 0 5px;'>" + name + "</a>";
        }
        function UsersRolesMapList_rowAction(id, name, index, height, funcName, isSave) {
            var row = jQuery('#dlUsersRolesMapList').datagrid("getData").rows[index];
            jQuery(id + "_form").form("load", row);
            if (isSave) {
                eval(funcName + "()");
            } else {
                jQuery(id).dialog({ title: name, width: 400, height: height, modal: true, cache: false}).dialog('center');
            }
        }
        jQuery(function () {
            setTimeout(function () {
                $('#dlUsersRolesMapList').datagrid({
                    url: '/UsersRolesMap/UsersRolesMapList_', queryParams: UsersRolesMapList_getSearchData()
                });
            }, 100);
        });

        
        function UsersRolesMapList_Delete_Save() {
            $.messager.progress({ interval: 200, text: "处理中" });
            $('#UsersRolesMapList_Delete_actionView_form').form('submit', {
                url: "/UsersRolesMap/UsersRolesMapList_Delete",
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (!isValid) {
                        $.messager.progress('close');   // hide progress bar while the form is invalid
                    }
                    return isValid; // return false will stop the form submission
                },
                success: function (data) {
                    $.messager.progress('close');
                    if (data == 1) {
                        alert("操作成功");
                        jQuery('#UsersRolesMapList_Delete_actionView').dialog('close');
                        UsersRolesMapList_search();
                    } else {
                        alert(data);
                    }
                }
            });
        }
        

</script>
}